asgiref==3.8.1
bootstrap4==0.1.0
Django==5.1.1
django-allauth==65.0.2
django-bootstrap==0.2.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
Pillow==10.4.0
psycopg2==2.9.9
PyJWT==2.9.0
setuptools==65.5.0
sqlparse==0.5.1
tzdata==2024.2
