{% extends '../base.html' %}
{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center py-5">
        <div class="col-md-6">
            <form method="POST" novalidate class="p-4 shadow-sm rounded bg-white">
                {% csrf_token %}
                <div class="mb-3 text-center">
                    <h4 class="text-dark">Reset Your Password</h4>
                </div>
                <hr>
                <div class="mb-3">
                    {% include './message.html' %}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
                    <div class="text-danger">{{ form.email.errors }}</div>
                </div>
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">Get Reset Link</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
