{% extends '../base.html' %}
{% block title %}Registration{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center py-5">
        <div class="col-md-6">
            <form method="POST" novalidate class="p-4 shadow-sm rounded bg-white">
                {% csrf_token %}
                <div class="mb-3 text-center">
                    <h4 class="text-dark">Create Your Account</h4>
                </div>
                <hr>
                <div class="mb-3">
                    {% include './message.html' %}
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Enter your username">
                    <div class="text-danger">{{ form.username.errors }}</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
                    <div class="text-danger">{{ form.email.errors }}</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">
                    <div class="text-danger">{{ form.password.errors }}</div>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Confirm Password</label>
                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm your password">
                </div>
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
                </div>
                <div class="text-center">
                    <p class="m-0">
                        Have an account? <a class="text-decoration-none text-primary" href="{% url 'login' %}">Login here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
